form, #block, #sell{
    padding: 10px;
    text-align: center;
}
#login,#choose, #camera {
    margin: 0 auto;
    padding: 4em 10px 10px;
    
}

.navbar{
background-color: #1abc9c;
color:white;
}

