<template name="buy">

<div class="bs-example">
  <h2>Ready To Eat</h2>
    <ul class="list-inline">
    <li>
      <div class="media">
        <img src="/images/sabudanavada-small.jpg" style="">
        <div class="item-quantity-small">
          <i class="icon-shopping-cart"></i>
          <span class="item-qty">0</span>
        </div>
      </div>

      <div class="item-info">
        <div class="item-name item-row">
          <span class="full-item-name">Sabudana Vada</span>
            <span class="item-price">10Rs</span>
        </div>
      </div>
    </li>
  <li></li>
  <li>
    <div class="media">
      <img src="/images/tamarindlolipop-small.jpg" style="">
      <div class="item-quantity-small">
        <i class="icon-shopping-cart"></i>
        <span class="item-qty">0</span>
      </div>
    </div>

    <div class="item-info">
      <div class="item-name item-row">
        <span class="full-item-name">Tamarind Lolipop</span>
          <span class="item-price">5Rs</span>
      </div>
    </div>
    </li>
  <li></li>
  <li>
    <div class="media">
      <img src="/images/chikkies-small.jpg" style="">
      <div class="item-quantity-small">
        <i class="icon-shopping-cart"></i>
        <span class="item-qty">0</span>
      </div>
    </div>

    <div class="item-info">
      <div class="item-name item-row">
        <span class="full-item-name">Groundnut Chikkies</span>
          <span class="item-price">20Rs</span>
      </div>
    </div>
    </li>


    </ul>
</div>
</template>
