<head>
  <meta charset="utf-8">
  <title>thindi</title>
  <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1" />
  <link rel="icon" type="image/png" href="/favicon.png" />

  <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">

<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>

</head>

<body>

<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">
      <img alt="thindi" src="/images/logo.png">
    </a>
    </div>
       <h2>| THINDI</h2>
  </div>
</nav>

</body>

<template name="layout">
{{#if currentUser}}
  {{> home}}
{{else}}
      {{> login}}
{{/if}}

<br>
<br>
<nav class="navbar navbar-inverse navbar-fixed-bottom pull-left">
  <div class="container"> &nbsp;
  <span class="copyright">&copy;</span>
  Chef:Shravanthi UM
  </div>
</nav>
</template>
