<template name="sell">
<br>
<br>
<div id="sell">

    <form name="camera">
    <div class="panel panel-danger">
    <div class="panel-header">
    <h3>Did you cook something??</h3>
    <h4>Want to Sell?? Click a picture, write description and add to store.. Boom!!</h4>
    </div>
    <div class="panel-body">
        <ul class="list-group">
          <li class="list-group-item">
            <div>
              <input type="text" class="form-control" placeholder="item name">
            </div>
          </li>
          <li class="list-group-item">
            <div>
            <textarea rows="3" class="form-control" name="description" placeholder="A crisp description about the item."></textarea>  
            </div>
          </li>
          <li class="list-group-item">
            <ul class="list-inline">
              <li class="click">
                <i class="glyphicon glyphicon-camera"></i>      
              </li>
              <li class="gallery">
                <i class="glyphicon glyphicon-th"></i>      
              </li>
              <li>
                <i class="glyphicon glyphicon-ok" name="sell" type="submit"></i>
              </li>
            </ul>
          </li>
          </ul>
    </div>
    </div>
    </form>
</div>
      
</template>
