<template name="sell">
<br>
<br>
<div id="sell">

    <form name="camera">
        <nav class="navbar navbar-default navbar-fixed-top">
          <div class="container">
            <h2>add thindi</h2>
          </div>
        </nav>
        <br>
        <p>
          <br>
           <input type="text" name="thindi" placeholder="Item Name" />
          <br>
          <textarea rows="3" name="description" placeholder="A crisp description about the item."></textarea>
          <br>
          <p cols="3" class="click">
            <i class="icon-camera"></i>
          </p>
          <p cols="3" class="gallery">
            <i class="icon-th"></i>
          </p> 
          <br>
          <button class="btn btn-success" name="sell" type="submit"> SELL </button>
        </p>
    </form>
</div>
      
</template>
